$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid";

$font-family-normal: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$content-width: 68rem;

$line-height-p: 1.6;

$margin-s: 0.25rem;
$margin-m: 0.5rem;
$margin-l: 1rem;
$margin-xl: 2rem;
$margin-xxl: 4rem;

$radius-s: 0.25rem;
$radius-m: 0.5rem;
$radius-l: 1rem;
$radius-xl: 2rem;

/* General styles */

@mixin light-theme {
	--text-color: #050315;
	--bg-color: #fbfbfe;
	--primary-color: #2f27ce;
	--primary-color-contrast: var(--bg-color);
	--secondary-color: #dedcff;
	--accent-color: #433bff;
}

@mixin dark-theme {
	--text-color: #ebe9fc;
	--bg-color: #010104;
	--primary-color: #3a31d8;
	--primary-color-contrast: var(--text-color);
	--secondary-color: #020024;
	--accent-color: #0600c2;
}

:root {
	@include light-theme;
}
@media (prefers-color-scheme: dark) {
	:root {
		@include dark-theme;
	}
}
[data-theme="light"] {
	@include light-theme;
}
[data-theme="dark"] {
	@include dark-theme;
}

$font-size-p: 1.2rem;
$font-size-h6: $font-size-p;
$font-size-h5: $font-size-p * 1.3;
$font-size-h4: $font-size-h5 * 1.3;
$font-size-h3: $font-size-h4 * 1.3;
$font-size-h2: $font-size-h3 * 1.3;
$font-size-h1: $font-size-h2 * 1.3;
$font-size-small: $font-size-p * 0.8;

:root {
	--font-scale: 1.25;
	--font-size-p: 1.2rem;
	--font-size-h6: clamp(#{$font-size-p}, 6vw, #{$font-size-h6});
	--font-size-h5: clamp(#{$font-size-h6}, 6vw, #{$font-size-h5});
	--font-size-h4: clamp(#{$font-size-h5}, 6vw, #{$font-size-h4});
	--font-size-h3: clamp(#{$font-size-h4}, 6vw, #{$font-size-h3});
	--font-size-h2: clamp(#{$font-size-h3}, 6vw, #{$font-size-h2});
	--font-size-h1: clamp(#{$font-size-h2}, 6vw, #{$font-size-h1});
}

::selection {
	background: var(--text-color);
	color: var(--bg-color);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-family-normal;

	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	transition: background-color 0.1s ease;
	color: var(--text-color);
	background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--text-color);
	line-height: 1.5;
}

p,
li,
a {
	margin: 0;
	font-size: var(--font-size-p);
	line-height: 1.5;
}

p,
li {
	color: var(--text-color);
}

h1 {
	font-size: var(--font-size-h1);
	font-weight: 900;
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}
h4 {
	font-size: var(--font-size-h4);
}
h5 {
	font-size: var(--font-size-h5);
}
h6 {
	font-size: var(--font-size-h6);
}

.content {
	h2 {
		text-align: center;
		margin-top: $margin-xl;
		margin-bottom: $margin-l;
	}
	h3 {
		margin-top: $margin-xl;
		margin-bottom: $margin-l;
	}
	h4 {
		margin-top: $margin-xl;
		margin-bottom: $margin-l;
	}
	h5 {
		margin-top: $margin-xl;
		margin-bottom: $margin-l;
	}
	h6 {
		margin-top: $margin-xl;
		margin-bottom: $margin-l;
	}

	a {
		text-decoration: none;
		color: var(--text-color);
		border-bottom: 4px solid var(--accent-color);

		transition:
			background-color 0.05s ease-out,
			color 0.05s ease-out;

		@media (hover: hover) {
			&:hover {
				background-color: var(--accent-color);
				border-radius: $radius-s;
			}
		}
	}

	p {
		margin-top: $margin-m;
		margin-bottom: $margin-m;
	}
}

/* Header and navigation */

#header {
	background-color: var(--bg-color);
	width: 100%;

	.header__content {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: $content-width;
		position: relative;

		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;
		padding: $margin-l;

		.header__content__wrapper {
			display: flex;
			gap: $margin-m;
		}

		.logo {
			margin-right: auto;
		}
	}
}
@media screen and (min-width: $content-width) {
	#header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.header__content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}

@media screen and (max-width: $content-width) {
	.nav {
		overflow: hidden;
		transition: max-height 0.1s;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: var(--bg-color);

		&[data-is-open="false"] {
		visibility: hidden;	
		}

		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;

			& .button {
				justify-content: flex-start;
				padding: $margin-l;
				width: 100%;
				border-radius: 0;
			}

			@media (hover: hover) {
				& .button:hover {
					background: var(--text-color);
					color: var(--bg-color);
				}
			}
			& .button:active {
				background: var(--text-color);
				color: var(--bg-color);
			}
		}

		& .dropdown-content .button {
			padding-left: $margin-xxl;
		}
	}

	#theme-toggle {
		margin-right: $margin-m;
		order: 1;
	}
	#navigation {
		order: 2;
	}
}
@media screen and (min-width: $content-width) {
	.nav {
		max-height: unset !important;

		& > ul {
			flex-direction: row;
			gap: $margin-m;

			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;

			& > li {
				font-size: var(--font-size-p);
				position: relative;
				overflow: visible;
			}

			& > li:focus-within > .dropdown-wrapper {
				display: block;
			}
		}
	}

	.dropdown-wrapper {
		display: none;
		padding-top: $margin-m;
		position: absolute;
		z-index: 1;
	}

	.dropdown-content {
		display: flex;
		flex-direction: column;
		gap: $margin-m;
		list-style: none;
		padding: $margin-m;
		border-radius: $radius-m;
		border: 1px solid var(--text-color);
		width: calc($margin-m + 100% + $margin-m);

		background: var(--bg-color);

		box-shadow:
			0 0.05rem 0.2rem rgba(149, 157, 165, 0.2),
			0 0.05rem 0.2rem rgba(149, 157, 165, 0.4);

		& > li {
			width: 100%;
		}

		& > li > .button {
			display: block;
		}
	}

	#theme-toggle {
		height: 100%;
		margin-left: $margin-m;
	}
}

/* Footer */
.footer__content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: $content-width;
	padding: $margin-l;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.footer__column {
		flex: 0 1 auto;
		margin-top: $margin-xl;
	}

	.footer__column--compact {
		margin: 0;
	}

	.footer__column h2 {
		font-size: var(--font-size-h5);
		text-transform: uppercase;
		border-bottom: 2px solid var(--primary-color);
		width: fit-content;
		padding-bottom: $margin-m;
	}

	.footer__column p {
		width: 100%;
		margin-top: $margin-l;
		margin-bottom: $margin-l;
	}

	.footer__column ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: $margin-m;
		}
	}

	.footer__column a:not(.button) {
		color: var(--text-color);
		text-decoration: none;

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
@media screen and (min-width: $content-width) {
	.footer__content {
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
		gap: $margin-xxl;
	}

	.footer__column {
		margin-top: 0;
	}
}

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* Main content */

#main {
	flex: 1;
}

.section {
	padding: $margin-xl $margin-l;

	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: $content-width;
}

.section--wide {
	width: 100%;
	background-color: var(--secondary-color);
}

.posts {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: $margin-xl 0;
	width: 100%;
	flex-wrap: wrap;
	gap: $margin-l;

	article {
		min-width: 12rem;
		flex: 1 0 clamp(25%, 2vw, 20rem);

		.post__thumbnail {
			border-top-left-radius: $radius-m;
			border-top-right-radius: $radius-m;
			display: block;
			width: 100%;
			object-fit: cover;
			max-height: 12rem;
		}

		a {
			height: 100%;
			display: block;
			text-decoration: none;
			color: var(--text-color);
			border-radius: $radius-m;
			border: 1px solid var(--text-color);
			transition:
				transform 0.1s ease,
				box-shadow 0.1s ease;

			@media (hover: hover) {
				&:hover {
					transform: translate(0, -4px);
					box-shadow:
						0 0.05rem 0.2rem rgba(149, 157, 165, 0.2),
						0 0.05rem 0.2rem rgba(149, 157, 165, 0.4);
				}
			}
		}

		.post__content {
			padding: $margin-l;

			.post__title {
				font-size: var(--font-size-h5);
			}
		}
	}
}

.address {
	font-size: var(--font-size-p);
	font-style: normal;
	a {
		color: var(--text-color);
		text-decoration: none;
		@media (hover: hover) {
			&:hover {
				color: var(--text-color);
				text-decoration: underline;
			}
		}
	}
}

.veggieburger {
	flex: none;
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	padding: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: $margin-m;

	@media (hover: hover) {
		&:hover {
			transform: scale(0.95);
		}
	}

	.veggieburger__line {
		height: 4px;
		width: 100%;
		border-radius: $radius-s;
		background: var(--text-color);

		transition:
			transform 0.2s,
			opacity 0.2s;
	}
	&[data-is-open="true"] > .veggieburger__line {
		height: 4px;
	}
	&[data-is-open="true"] > .veggieburger__line:first-child {
		transform: rotate(45deg) translate(10px, 9px);
	}
	&[data-is-open="true"]
		> .veggieburger__line:not(:first-child):not(:last-child) {
		opacity: 0;
	}
	&[data-is-open="true"] > .veggieburger__line:last-child {
		transform: rotate(-45deg) translate(10px, -9px);
	}
	@media screen and (min-width: $content-width) {
		& {
			display: none;
		}
	}
}

.hero {
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;

	.hero__content {
		width: 100%;

		max-width: 42rem;

		h1 {
			color: #fff;
			font-weight: bold;
			line-height: 1.2;
			text-shadow:
				0 0.1rem 0.2rem rgba(0, 0, 0, 0.2),
				0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
		}
		p {
			color: #fff;
			margin-top: $margin-l;
			margin-bottom: $margin-xl;
			text-shadow:
				0 0.1rem 0.2rem rgba(0, 0, 0, 0.2),
				0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
		}
	}

	&.hero--large {
		min-height: 80vh;

		.hero__content {
			padding: $margin-l;
			text-align: center;

			h1 {
				font-size: var(--font-size-h2);
			}
		}
	}

	&.hero--small {
		min-height: 30vh;

		.hero__content {
			padding: $margin-l;
			text-align: center;

			h1 {
				font-size: var(--font-size-h1);
			}
		}
	}

	&.hero--block {
		min-height: 30vh;
		border-radius: $radius-l;

		padding: $margin-xl;

		.hero__content {
			text-align: center;
		}

		& p {
			font-size: var(--font-size-p);
			margin-bottom: 0;
		}
	}
}

.form {
	input:not([type]),
	input[type="email"],
	input[type="text"],
	input[type="url"],
	input[type="number"],
	input[type="tel"],
	textarea {
		-webkit-appearance: none;

		font-family: $font-family-normal;
		font-weight: 400;
		line-height: $line-height-p;
		font-size: var(--font-size-p);

		color: var(--text-color);
		background: var(--bg-color);
		padding: $margin-m $margin-l;
		margin-top: $margin-s;

		border: 1px solid var(--text-color);
		width: 100%;

		border-radius: $radius-m;
	}
	textarea {
		resize: vertical;
		min-height: 10rem;
		height: 14rem;
	}
	.form__row {
		margin-top: $margin-l;
		display: flex;
		flex-direction: column;
	}
	.form__row > .label {
		font-size: var(--font-size-p);
		line-height: $line-height-p;
		margin-left: $margin-s;
	}
	.form__checkbox {
		align-items: center;
		flex-direction: row;
	}
	input[type="checkbox"] {
		height: 1.25rem;
		width: 1.25rem;

		margin-right: $margin-m;
		margin-left: 0;
	}
}

.button {
	-webkit-appearance: none;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: $margin-m;
	cursor: pointer;
	text-decoration: none;

	font-size: var(--font-size-p);
	line-height: $line-height-p;
	font-weight: bold;
	text-transform: uppercase;

	border-radius: $radius-m;

	border: 1px solid var(--text-color);
	padding: $margin-m 1.5rem;

	background-color: var(--bg-color);
	color: var(--text-color);

	transition:
		background-color 0.1s ease-out,
		color 0.1s ease-out;

	@media (hover: hover) {
		&.button:hover {
			background-color: var(--text-color);
			color: var(--bg-color);
		}
	}
	&.button--borderless {
		border-color: transparent;
	}

	&.button--primary {
		background-color: var(--primary-color);
		color: var(--primary-color-contrast);
	}
}

/* Utilities */

.hidden {
	display: none;
}

.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: $margin-xl;

	h2 {
		text-align: center;
		font-size: var(--font-size-h4);
		margin-bottom: $margin-s;
	}
}
@media screen and (min-width: $content-width) {
	.cta {
		flex-direction: row;

		h2 {
			margin: 0;
			text-align: left;
		}
	}
}

#theme-toggle {
	width: 4rem;
}

.skiplinks a {
	position: absolute;
	left: -9999px;
	top: 0;
}
.skiplinks a:focus {
	position: absolute;
	left: 1rem;
	top: 1rem;
	color: var(--text-color);
	background-color: var(--bg-color);
	z-index: 101;
	padding: $margin-m;
}
