{% extends "base.html" %}
{% block content %}
	<section
		class="hero hero--large"
		style="
			background-image: linear-gradient(
					rgba(0, 0, 0, 0.4),
					rgba(0, 0, 0, 0.4)
				),
				url({{ section.extra.hero_image }});
		"
	>
		<div class="hero__content">
			<h1>{{ section.extra.hero_slogan }}</h1>

			<p>{{ section.extra.hero_description }}</p>

			<a
				class="button button--primary"
				href="{{ get_url(path="@/contact.md", lang=lang) }}"
				>{{ trans(key="button_contact", lang=lang) }}</a
			>
		</div>
	</section>

	<section class="section content">{{ section.content | safe }}</section>

	{% set posts = get_section(path="posts/_index.md") %}

	<section class="section">
		<div class="content">
			<h2>{{ trans(key="newest_posts_title", lang=lang) }}</h2>
		</div>

		<div class="posts">
			{% for post in posts.pages | slice(start=0, end=3) %}
				{{ macros::post(page=post) }}
			{% endfor %}
		</div>

		<a
			class="button"
			href="{{ get_url(path="@/posts/_index.md", lang=lang) }}"
			>{{ macros::icon(name="arrow-right") }}
			{{ trans(key="newest_posts_view_all", lang=lang) }}</a
		>
	</section>

	<section class="section--wide">
		<div class="section cta">
			<h2>{{ trans(key="cta_title", lang=lang) }}</h2>

			<p>
				<a
					class="button button--primary"
					href="{{ get_url(path="@/contact.md", lang=lang) }}"
					>{{ trans(key="button_contact", lang=lang) }}</a
				>
			</p>
		</div>
	</section>
{% endblock content %}
