{% extends "base.html" %}
{% block content %}
	<section
		class="hero hero--large"
		style="
			background-image: linear-gradient(
					rgba(0, 0, 0, 0.4),
					rgba(0, 0, 0, 0.4)
				),
				url({{ section.extra.hero_image }});
		"
	>
		<div class="hero__content">
			<h1>Dit is een demonstratie van een starter kit</h1>

			<p>Wil je ook een website? Die kan je hiermee maken.</p>

			<a class="button button--primary" href="/contact/">Contact</a>
		</div>
	</section>

	<section class="section content">{{ section.content | safe }}</section>

	{% set posts = get_section(path="posts/_index.md") %}

	<section class="section">
		<div class="content">
			<h2>Nieuwste posts</h2>
		</div>

		<div class="posts">
			{% for post in posts.pages | slice(start=0, end=3) %}
				{{ macros::post(page=post) }}
			{% endfor %}
		</div>

		<a class="button" href="/posts/"
			>{{ macros::icon(name="arrow-right") }} Alle posts</a
		>
	</section>

	<section class="section--wide">
		<div class="section cta">
			<h2>Wil je dit ook? Laat het ons weten.</h2>

			<p>
				<a class="button button--primary" href="/contact/">Contact</a>
			</p>
		</div>
	</section>
{% endblock content %}
