{% macro example() %}
	<p>Example</p>
{% endmacro cta %}

{% macro hero_small(title, image) %}
	<section
		class="hero hero--small"
		style="
			background-image: linear-gradient(
					rgba(0, 0, 0, 0.4),
					rgba(0, 0, 0, 0.4)
				),
				url({{ image }});
		"
	>
		<div class="hero__content">
			<h1>{{ title }}</h1>
		</div>
	</section>
{% endmacro cta %}

{% macro icon(name) %}
	<i class="fa-solid fa-{{ name }}"></i>
{% endmacro icon %}

{% macro post(page) %}
	<article>
		<a href="{{ page.path }}">
			<img
				class="post__thumbnail"
				src="{{ page.extra.image }}"
				alt="{{ page.extra.image_alt }}"
			/>

			<div class="post__content">
				<h3>{{ page.title }}</h3>

				<time datetime="{{ page.date }}"
					>{{ page.date | date(locale="nl_NL", format="%_d %B %Y") }}</time
				>
			</div>
		</a>
	</article>
{% endmacro posts %}
