{% macro hero_small(title, image) %}
	<section
		class="hero hero--small"
		style="
			background-image: linear-gradient(
					rgba(0, 0, 0, 0.4),
					rgba(0, 0, 0, 0.4)
				),
				url({{ image }});
		"
	>
		<div class="hero__content">
			<h1>{{ title }}</h1>
		</div>
	</section>
{% endmacro cta %}

{% macro nav_content(nav, depth=0) %}
{% if depth == 1 %}
<div class="dropdown-wrapper">
	<ul class="dropdown-content">
{% else %}
	<ul>
{% endif %}
		{% for n in nav %}
			{% set style = "button--borderless" %}
			{% if n.is_primary %}
				{% set style = "" %}
			{% endif %}

			<li>
				<a
					class="button {{ style }}"
					href="{{ n.href }}"
					title="{{ n.title }}"
					>

					{% if n.nav %}
					<i class="fa-solid fa-angle-down"></i>
					{% endif %}
				
					{{ n.title }}</a
				>

				{% if n.nav %}
				{{ self::nav_content(nav=n.nav, depth=depth + 1) }}
				{% endif %}
			</li>
		{% endfor %}
{% if depth == 1 %}
	</ul>
	</div>
{% else %}
	</ul>
{% endif %}
{% endmacro nav_content %}

{% macro icon(name) %}
	<i class="fa-solid fa-{{ name }}"></i>
{% endmacro icon %}

{% macro post(page) %}
	<article>
		<a href="{{ page.path }}">
			<img
				class="post__thumbnail"
				src="{{ page.extra.image }}"
				alt="{{ page.extra.image_alt }}"
			/>

			<div class="post__content">
				<h3 class="post__title">{{ page.title }}</h3>

				<time datetime="{{ page.date }}"
					>{{ page.date | date(locale="nl_NL", format="%_d %B %Y") }}</time
				>
			</div>
		</a>
	</article>
{% endmacro posts %}
