{% extends "base.html" %}
{% block content %}
	{{ macros::hero_small(title=section.title, image=section.extra.hero_image) }}

	<section class="section">
		<div class="content">{{ section.content | safe }}</div>

		{% for month, pages in paginator.pages | group_by(attribute="month") %}
			{% set first_page = pages | nth(n=0) %}

			<div class="content">
				<h2>
					{{ first_page.date | date(locale="nl_NL", format="%B %Y") | capitalize }}
				</h2>
			</div>

			<div class="posts">
				{% for post in pages %}
					{{ macros::post(page=post) }}
				{% endfor %}
			</div>
		{% endfor %}

		{% if paginator.number_pagers > 1 %}
			<nav class="pagination">
				<div>
					{% if paginator.previous %}
						<a class="previous" href="{{ paginator.previous }}"
							>‹ Nieuwer</a
						>
					{% endif %}
				</div>

				<span>{{ paginator.current_index }}</span>

				<div>
					{% if paginator.next %}
						<a class="next" href="{{ paginator.next }}">Ouder ›</a>
					{% endif %}
				</div>
			</nav>
		{% endif %}
	</section>
{% endblock content %}
